:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.centered-div-title {
  text-align: center;
  color: darkslategrey;
}

.request-container {
  position: relative;
}

.request-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.request-card {
  flex: 1;
  min-width: 500px;
  max-width: 500px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.user-container {
  position: relative;
}

.button-logout {
  position: absolute;
  top: 1px;
  right: 5px;
}

.client-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.client-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.client-card {
  flex: 1;
  min-width: 500px;
  max-width: 500px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.pet-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.pet-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pet-card {
  flex: 1;
  min-width: 500px;
  max-width: 500px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}
